@model IEnumerable<EcoX9.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

<button class="btn btn-default"><a asp-action="Create">Novo</a></button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHAPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELEFONE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHAPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFONE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
