@model EcoX9.Models.Ocorrencias

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ocorrencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.COD_OCO)
        </dd>
        <dt>
            Detalhes:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESC_OCO)
        </dd>
        <dt>
            Data Ocorrencia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DT_OCO)
        </dd>
        <dt>
            Endereço:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ENDERECO)
        </dd>
        <dt>
            Bairro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BAIRRO)
        </dd>
        <dt>
            Descrição do Infrator:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESC_INFRA)
        </dd>
        <dt>
            Ponto de Referencia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PONTO_REF)
        </dd>
        <dt>
            Situação da Ocorrencia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FLAG_SIT)
        </dd>
        <dt>
            Nome Denunciante:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuarios.NOME)
        </dd>
        <dt>
            Tipo Ocorrencia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo_Ocorrencia.NOME_TIPO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
