@model IEnumerable<EcoX9.Models.Ocorrencias>

@{
    ViewData["Title"] = "Index";
}

<h2>Ocorrencias</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Bairro
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_OCO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC_OCO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT_OCO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAIRRO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLAG_SIT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
