@model IEnumerable<EcoX9.Models.Tipo_Ocorrencia>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

<p>
    
    <button  class="btn btn-default" ><a asp-action="Create">Novo</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME_TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESC_TIPO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME_TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC_TIPO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
